<div id="header">
  <div id="patron_portal_header">
    <h1>Welcome to the <span class="glyphicon glyphicon-book"></span></h1>
  </div>
  <div id="prompt">
    <h3>Are you a librarian?</h3>
    <form action="/librarian" method="get">
      <button id="lib_button" type="submit">Yes</button>
      <!-- <input type="radio" name="librarian" value="true">Yes<br>
      <input type="radio" name="librarian" value="false" checked="checked">No<br> -->
    </form>
  </div>
  <!-- <div id="librarian_portal_header">
    <h1>Welcome to the librarian portal</h1>
  </div> -->
</div>
<hr>

<div class="administrative">
  <h3>Patron login:</h3>
  <form action="/patrons" method="post">
    <label for="first_name">First name:</label>
    <input type="text" name="first_name" required>

    <label for="last_name">Last Name:</label>
    <input type="text" name="last_name" required>

    <label for="phone_num">Phone number:</label>
    <input type="text" name="phone_num" required>

    <button class="button" type="submit" name="button">Login</button>
  </form>
</div>

<hr>

<div id="search-nav">
  <div id="search_title">
    <h3>Search by Title:</h3>
    <form action="/search/title" method="post">
      <label for="title_search">Title:</label>
      <input type="text" name="title_search">

      <button class="button" type="submit" name="button">Find book</button>
    </form>
  </div>

  <div id="search_author">
    <h3>Search by Author:</h3>
    <form action="/search/author" method="post">

      <label for="author_last_search">Author's Last Name:</label>
      <input type="text" name="author_last_search">

      <button class="button"  requiredtype="submit" name="button">Find author</button>
    </form>
  </div>
</div>

<hr>

<% if @books.any?() %>
  <h3>Here is a list of books in our database.</h3>
  <table>
    <tr id="table_head">
      <td>TITLE</td>
      <td>AUTHOR (last, first)</td>
      <td>GENRE</td>
      <!-- <td></td> -->
      <!-- <td class="administrative"></td> -->
    </tr>
    <% @books.each() do |book| %>
      <tr>
        <td><%= book.title() %></td>
        <td><%= book.author_last() %>, <%= book.author_first() %></td>
        <td><%= book.genre() %></td>
        <!-- <td><a href="/books/<%= book.id() %>/checkout">CHECKOUT</a></td> -->
        <!-- <td class="administrative">
          <form action="/books/<%= book.id() %>" method="post">
            <input name="_method" type="hidden" value="delete">
            <button id="delete_button" type="submit">DELETE</button>
          </form>
        </td> -->
      </tr>
    <% end %>
  </table>
<% else %>
  <h3>There are no books in the database. <span id="add_book_instruction" class="administrative"> Please alert a librarian.</span></h3>
<% end %>
