<% if @search_results.any?() %>
  <h3>Here is your search results for "<%= @search_term %>"</h3>
  <table>
    <tr id="table_head">
      <td>TITLE</td>
      <td>AUTHOR (last, first)</td>
      <td>GENRE</td>
      <td></td>
      <td></td>
    </tr>
    <% @search_results.each() do |book| %>
      <tr>
        <td><%= book.title() %></td>
        <td><%= book.author_last() %>, <%= book.author_first() %></td>
        <td><%= book.genre() %></td>
        <td><a href="/books/<%= book.id() %>/edit">EDIT</a></td>
        <td>
          <form action="/books/<%= book.id() %>" method="post">
            <input name="_method" type="hidden" value="delete">
            <button id="delete_button" type="submit">DELETE</button>
          </form>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  <h3>No results found.</h3>
<% end %>
