<div id="header">
  <div id="patron_portal_header">
    <h1>Your search the <span class="glyphicon glyphicon-book"></span> results</h1>
  </div>
</div>

<hr>

<% if @search_results.any?() %>
  <h3>Here is your search results for "<%= @search_term %>"</h3>
  <table>
    <tr id="table_head">
      <td>TITLE</td>
      <td>AUTHOR (last, first)</td>
      <td>GENRE</td>
      <td class="administrative"></td>
      <td class="administrative"></td>
    </tr>
    <% @search_results.each() do |book| %>
      <tr>
        <td><%= book.title() %></td>
        <td><%= book.author_last() %>, <%= book.author_first() %></td>
        <td><%= book.genre() %></td>
        <td class="administrative"><a href="/books/<%= book.id() %>/edit" class="edit_link">EDIT</a></td>
        <td class="administrative">
          <form action="/books/<%= book.id() %>" method="post">
            <input name="_method" type="hidden" value="delete">
            <button class="delete_button" type="submit">DELETE</button>
          </form>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  <h3>No results found for "<%= @search_term %>".</h3>
<% end %>

<hr>

<% if @@librarian.==(true) %>
  <form action="/librarian" method="get">
    <button class="home_button" type="submit">Home</button>
  </form>
<% else %>
  <form action="/" method="get">
    <button class="home_button" type="submit">Home</button>
  </form>
<% end %>
